body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
div::-webkit-scrollbar {
  width: 8px;
  /* 设置滚动条宽度 */
  height: 8px;
  /* 设置滚动条高度 */
}
div::-webkit-scrollbar-thumb {
  border-radius: 3px;
  /* 设置滚动条滑块圆角 */
  background-color: rgba(21, 99, 234, 0.5);
  /* 设置滑块颜色 */
}
div::-webkit-scrollbar-track {
  background-color: rgba(66, 46, 241, 0.08);
  /* 设置滑块轨道颜色 */
}
.el-picker-panel {
  color: #fff;
  background: #002450 !important;
  border: 1px solid #1384b4;
}
.el-picker-panel .el-picker-panel__icon-btn {
  color: #ffffff;
}
.el-picker-panel .el-date-picker__header-label {
  color: #ffffff;
}
.el-picker-panel .el-date-table th {
  color: #ffffff;
}
.el-picker-panel.rightEnd {
  top: 132px !important;
  left: 813px !important;
}
.el-picker-panel.rightEnd .el-picker-panel__sidebar {
  background: #002450 !important;
  border: 1px solid #1384b4;
}
.el-picker-panel.rightEnd .el-picker-panel__sidebar .el-picker-panel__shortcut {
  text-align: center;
  color: #fff;
}
.el-picker-panel.rightEnd .popper__arrow {
  left: 340px !important;
}
.el-date-table td.disabled div {
  background: aqua !important;
}
